@import url("normalize.css");

* {
    box-sizing: border-box;
    font-family: Gruppo, sans-serif;
    /* check this font is compatible with all browsers */
}

main { 
    margin: 10%;
}


h1, h2 {
    margin-top: 2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar {
    padding: 0px;
}

#nav-container a:hover{
    /* animation of a line appearing from the right */
    background-color: white;
    color: black;
}

#large_screen_nav{
    display: none;
}

#logo {
    width: 100%;
    max-width: 60px;
    display: inline-block;
}

#top_navbar{
    margin: 2% 2%;
}

#headshot{
    border-radius: 50%;
    max-width: 80vw;
    height: auto;
    margin: 10% 0px;
}

@media (min-width: 768px) {
    
    .navbar-toggler {
        display: none;
    }


    #nav-container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: right;
        padding: 50px;
        position: fixed;
        padding-bottom: 150px;
        list-style: none;
    }
    
    #i-am-irene{
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
    
    #large_screen_nav{
        display: block;
    }
    
    #headshot{
        width: 50%;
        max-width: 300px;
        margin: 30px 0px;
    }

    #about p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    
}



