@import url("normalize.css");

* {
    box-sizing: border-box;
    font-family: Gruppo, sans-serif;
    /* check this font is compatible with all browsers */
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

main {
    width: 75%;
    padding: 0px 75px;
}

#nav-container a:hover{
    /* animation of a line appearing from the right */
    background-color: white;
    color: black;
}


.nav-links {
    text-decoration: none;
}

#i-am-irene{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

#about-me-button{
    width: 20%;
}

#work, #about {
    padding: 20px 0px;
}

#headshot{
    width: 50%;

}

#nav-container {
    display: none;
}

#i-am-irene {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#work,
#about {
    padding: 20px 0px;
}

/* DOUBLE CHECK THESE MEDIA QUERIES */

/* small screen */
@media (min-width: 768px) {

    #nav-container {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: right;
            padding: 50px;
            position: fixed;
            padding-bottom: 150px;
            list-style: none;
    }

    .hamburger {
        display:none;
    }

    main {
        width: 100%;
        padding: 0px 20px;
    }


    #about-me-button {
        width: 20%;
    }

    #work,
    #about {
        padding: 20px 0px;
    }
}


